<div class="card-media">
    <div class="container">
        <h1><b>Change password</b></h1>


        <div class="card-body">
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" [(ngModel)]="userData.username" class="form-control" id="name" placeholder="Username" name="name">
            </div>

            <div class="form-group">
                <label for="oldpassword">Old Password</label>
                <input type="password" [(ngModel)]="userData.oldPassword" class="form-control" id="oldpassword" placeholder="Old Password" name="oldpassword">
            </div>

            <div class="form-group">
                <label for="newpassword">New Password</label>
                <input type="password" [(ngModel)]="userData.newPassword" class="form-control" id="newPassword" placeholder="New Password" name="newpassword">
            </div>

            <div class="form-group">
                <button class="btn form-control btn-md btn-primary" (click)="changePassword()">Change Password</button>
            </div>

        </div>

    </div>
</div>
