<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3><strong>Address:</strong> </h3>
            <p> Shop No.74, <br>
                CSC-II, DDA Market, <br>
                Sector-13, Rohini, <br>
                Delhi- 110085 <br>
                <br>
                Timings: Tue-Sun : 11AM- 9PM
            </p>
        </div>

        <div class="col-md-6">
            <p><span class="material-icons">
                call
                </span>  +911142509001, +918447171170, +919350989001</p>
            <p><img src="../../../assets/whatsapp.png"/> +919311660614</p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.860728491492!2d77.12546791559696!3d28.723707882381763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d01698837bd33%3A0xd12bd176236d6e31!2sApsara%20Kitchen%20Gallery%20%26%20Gift%20House!5e0!3m2!1sen!2sin!4v1594282929877!5m2!1sen!2sin" width="100%" height="400px;" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>
    </div>
    
</div>
