<nav class="navbar navbar-expand-lg">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home', 'products']" routerLinkActive="router-link-active" >
              <i class="material-icons">
                event_note
                </i><b>Products</b></a>
          </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home', 'contactus']" routerLinkActive="router-link-active" >
          <i class="material-icons">
            contact_support
            </i><b>Contact Us</b></a>
      </li>
    </ul>
  
  </nav>
