<div class="card text-center">
    <h4>Filter By Category</h4>
    <div class="card-body">
        <div class="text-left">
            <div *ngFor="let category of categories">
                <mat-checkbox [id]="category._id" [name]="category.name" [value]="category.name" (change)="toggleFilter($event)">{{ category.name }}</mat-checkbox>
            </div>
        </div>

        <div class="center">
            <button class="btn btn-primary" (click)="applyFilters()">Apply</button>
        </div>
    </div>
</div>
